<!DOCTYPE html>
<html ng-app="app">
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-filter/0.5.4/angular-filter.js"></script>
<script src="index.js" type="text/javascript"></script>

<title>Online Linguistic Fieldwork</title>
</head>


<body>
    <div ng-controller = "Search">
    <label>Search: <input ng-model="search"></label>
    <table id="searchTextResults">
        <tr><th>Form</th><th>Meaning</th></tr>
        <tr ng-repeat="Word in Words | fuzzyBy: 'form':search">
            <td>{{Word.form}}</td>
            <td>{{Word.def}}</td>
        </tr>
    </table>
    </div>
</body>
</html>
